// Define variables for your color scheme

// For example:
$beige:  #FB8B244D;
$orange: #E36414;
$white: #FDFBFD;
$purple: #031037;
$blue: #50AEC7;
$green: #1CC574;
$light-gray: #F8F8F8D9;
$gray: #DDDDDD;
$yellow: #FB8B24;
$red: #9A031E;