// Specific CSS for your home-page
.dish-index-title-h1 {
  text-align: center;
  color: $text-color;
  margin-top: 80px;
}

.dish-index-title-h2 {
  text-align: center;
  color: $text-color;
}

.index-dish-cards {
  margin-top: -40px;
}
