<div class="banner-container">
    <div class="banner-head">
        <form>
            <input type="text" id="banner-dish" value="Dish">
            <input type="text" id="banner-country" value="Country">
        </form>
    </div>
    <div class="banner-text">
        Did you know, that in most citys, there might be someone who makes your favourit dish, just the way you love it?
    </div>
    <div class="banner-picture">
        <img src="images/ramen_200.jpg">
    </div>
</div>
