<div class="dishlist-container" data-controller="edit-dish" data-edit-dish-target="card">
  
    <div class="card dishlist-card" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <img class="dishlist-picture" src=<%= dish.image_url %> alt=<%= dish.name %>>
          </div>
          <div class="col-8 dishlist-right">
            <div class="container-fluid">
              <div class="row dishlist-title"><%= dish.name %></div>
              <div class="row dishlist-tags">
                <%= dish.country %>
                <% dish.restaurants.name %> <!-- Link to doesnt work -->
              </div>
              <div class="row">
                <div class="container-fluid dishlist-dashboard-container">
                  <div class="row">
                    <div class="col">
                      <div class="dishlist-dashboard-title">SPICE</div>
                      <div class="dishlist-dashboard-content">HOOOT</div>
                    </div>
                    <div class="col">
                      <div class="dishlist-dashboard-title">RATING</div>
                      <div class="dishlist-dashboard-content">4.5</div>
                    </div>
                    <div class="col">
                      <div class="dishlist-dashboard-title">PLACE</div>
                      <div class="dishlist-dashboard-content">holder</div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
