<div class="dish-card" data-controller="edit-dish" data-edit-dish-target="card">
  <div class="row">
    <div class="card mb-3 cards-for-dishes">
      <div class="row no-gutters">
        <div class="col-6">
          <img class="image-for-card" src=<%= dish.image_url %> class="card-img" alt=<%= dish.name %>>
        </div>
        <div class="col-6">
          <div class="card-body">
            <p class="card-title"><%= dish.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
