<!-- Modal -->

<div class="modal animate__animated animate__fadeIn animate__faster" id="dishModal<%= index %>" tabindex="-1" aria-labelledby="dishModalLabel" aria-hidden="true">
  <div class="modal-dialog border border-0 border-rounded-3">
    <div class="modal-content modalfordish">
      <div class="modal-header">
      <div class="modal-title">
        <h2 class="font-weight-bold mx-4" id="dishModalLabel"><%= dish.name %></h2>
        <p><%= dish.country %></p>
      </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li class='list-unstyled'> <%= dish.description %> </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link">Search for restaurants</button>
      </div>
    </div>
  </div>
</div>
