<div class="dish-card" data-controller="edit-dish" data-edit-dish-target="card">
  <div class="row">
    <div class="card mb-3 cards-for-dishes">
      <div class="row no-gutters">
        <div class="col-6">
          <img class="image-for-card" src="https://images.unsplash.com/photo-1625485617425-4eb8ed7d82d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" class="card-img" alt="food!">
        </div>
        <div class="col-6">
          <div class="card-body">
            <p class="card-title"><%= dish.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
