
<div class="container" data-search-dishes-target="list">
  <div class="row">
    <% dishes.each_with_index do |dish, index| %>
        
          <a data-bs-toggle="modal" data-bs-target="#dishModal<%= index %>">
            <%= render 'dish_infos', dish: dish %>
          </a>
        
      <%= render 'dish_modal', dish: dish, index: index %>
    <% end %>
  </div>
</div>

