<h1>Hi, this is our dishes index!</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <h2 class="my-3 d-flex justify-content-center"> Dishes</h2>

        <div data-controller="search-dishes">
          <%= form_with url: root_path, method: :get, html: { data: {search_dishes_target: 'form', action: 'submit->search-dishes#update' } }  do |f| %>
              <%= f.text_field :query, placeholder: 'type a country', value: params[:query], data: { search_dishes_target: 'input' } %>
          <% end %>

          <%= render 'list', dishes: @dishes %>
      </div>
    </div>
  </div>
</div>
