<%# <%=f.input :dishes, collection: dishes, input_html: { multiple: true }%>
<div data-new-restaurant-target="select">
  <%= simple_fields_for :dish_restaurants do |n| %>
      <%= n.input :dishes, collection: dishes, input_html: { multiple: true }, include_blank: false%>
  <% end %>
</div>
