<div class="restaurant-card" data-controller="edit-restaurant" data-edit-restaurant-target="card">
  <div class="row">
    <div class="card mb-3 cards-for-restaurants">
      <div class="row no-gutters">
        <div class="col-4">
          <img class="image-for-card" src="https://images.unsplash.com/photo-1508424757105-b6d5ad9329d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" class="card-img" alt="food!">
        </div>
        <div class="col-8">
          <div class="card-body">
            <p class="card-title"><%= restaurant.name %></p>
          <div>
            <div class="d-flex justify-content-start">
              <p>Hours</p>
              <p class='mx-3'>Rating</p>
              <p class='mx-3'>Distance</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
