<!-- Modal -->
<div class="modal animate__animated animate__fadeIn animate__faster" id="restaurantModal<%= index %>" tabindex="-1" aria-labelledby="restaurantModalLabel" aria-hidden="true">
  <div class="modal-dialog border border-0 border-rounded-3" style="transform: translate(-25%);">
    <div class="modal-content modalforrestaurant">
      <div class="modal-header">
      <div class="modal-title">
        <h2 class="font-weight-bold mx-4" id="restaurantModalLabel"><%= restaurant.name %></h2>
      </div>
      </div>
      <div class="modal-body">
        <div class="description">
          <p> <%= restaurant.address %> </p>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
