<div class="dishlist-container" data-controller="edit-restaurant" data-edit-dish-target="card">
  
    <div class="card dishlist-card" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <%= image_tag("tony_400.jpg", class: "dishlist-picture") %>
          </div>
          <div class="col-8 dishlist-right">
            <div class="container-fluid">
              <div class="row dishlist-title"><%= restaurant.name %></div>
              <div class="row dishlist-tags">
                <%= restaurant.address %>
              </div>
              <div class="row">
                <div class="container-fluid dishlist-dashboard-container">
                  <div class="row">
                    <div class="col">
                      <div class="dishlist-dashboard-title">HOURS</div>
                      <div class="dishlist-dashboard-content">Open</div>
                    </div>
                    <div class="col">
                      <div class="dishlist-dashboard-title">RATING</div>
                      <div class="dishlist-dashboard-content">4.5</div>
                    </div>
                    <div class="col">
                      <div class="dishlist-dashboard-title">DISTANCE</div>
                      <div class="dishlist-dashboard-content">2.8</div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>