<div class="modal animate__animated animate__fadeIn animate__faster" id="restaurantModal<%= index %>" tabindex="-1" aria-labelledby="restaurantModalLabel" aria-hidden="true">
  <div class="modal-dialog border border-0 border-rounded-3">
    <div class="modal-content modalforrestaurant">
      <div class="modal-header">
        <h2 class="modal-title font-weight-bold mx-4" id="restaurantModalLabel"><%= restaurant.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <strong>To add modal design</strong>
        </ul>
    </div>
  </div>
</div>
