.banner-container {
    position: relative;
    display: block;
    width: 100vw;
    height: 150px;
    background-color: $nav-background;
    border-radius: 0 0 60% 60% / 0 0 80% 80%;
    padding-top: 0px;
    margin-bottom: 5%;
}

/* NAVIGATION */
.navbar {
    background-color: $nav-background;
}
.banner-logo img {
    width: 50px;
}
.banner-link {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;

}

/* HEADLINE with the two text inputs  */
.banner-head {
    margin: 0 auto;
	width: max-content;
    justify-content: flex-end;
}

.sebis {
    width: 50%;
}

#tonys {
  margin-right: -50px;
}

.banner-dish {
    border: none;
    color: $purple;
    background-color: $nav-background;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: right;
    margin-right: 5px;
    transform: translate(-10%, 0%);
}
.banner-country {
    border: none;
    color: $white;
    background-color: $nav-background;
    outline: none;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    margin-left: 5px;
}

/* SUB-HEADLINE the text below the entry fields */
.banner-text {
    color: $white;
    margin: auto;
    width: 50%;
    padding-top: 5px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    line-height: 5px;
    text-align: center;
}

/* PICTURE centred, floating */
.banner-picture {
  position: absolute;
	left: 50%;
	bottom: 2%;
	transform: translate(-50%, 50%);
  border-radius: 90% 90% 90% 90%;
}
.banner-picture-img img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    /* border-style: solid; */
}

.restaurants-banner {
  max-width: 100%;
}
