.cards-for-dishes {
  border-radius: 20px;
  padding: 5px;
  background-color: #FB8B244D;
  cursor: pointer;
}

.image-for-card {
  border-radius: 20px;
  height: 110px;
  width: 150px;
  object-fit: cover;
}

.dish-card {
  width: 400px;
}

.dishes {
  max-width: 1500px;
}

.cards-for-restaurants {
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(254, 220, 189);
}

.restaurant-card {
  width: 400px;
}
