.cards-for-dishes {
  border-radius: 5px;
  padding: 5px;
  background-color: $cards-background;
  cursor: pointer;
  border: none;
  box-shadow: $shadow;
}

.image-for-card {
  border-radius: 5px;
  height: 110px;
  width: 150px;
  object-fit: cover;
}

.dish-card {
  width: 400px;

}

.dishes {
  max-width: 1500px;
}

.cards-for-restaurants {
  border-radius: 5px;
  padding: 5px;
  background-color: $cards-background;
}

.restaurant-card {
  width: 400px;
}

.d-flex {
  margin-top: 80px;
}
