.modalfordish {
  background-color: $pop-background;
  border-radius: 5px;
  border-style: none;
  color: $text-color;
  box-shadow: $shadow;
  border: none;
  min-width: 800px;
}
.modal-backdrop
{
  opacity:0.15 !important;
}

.modal-footer {
  border: none !important;
}

.modal-header {
  border: none !important;
  padding: 5px;
}

.modal-title {
  margin: 5px;

  h2 {
    margin-top: 5px;
    margin-bottom: 3px;
  }

  p {
    margin-left: 25px;
    margin-bottom: 5px;
  }

}

.modal-body {
  margin-left: 25px;
  text-decoration: none;
  padding: 5px !important;

  img {
    max-height: 300px;
    margin-bottom: 15px;
    object-fit: cover;
    min-width: 720px;
    border-radius: 5px;
  }
  .description {
    max-width: 720px;
  }

}
