/* 1. HEAD, TAGS REVIEW, BUTTON */
.restaurant-modal {
    border-radius: 10px;
    background: $pop-background;

    box-shadow: 0px 0px 15px 3px #cccccc7e;
}

/* HEAD*/
.restaurant-headline {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    color: $text-color;
}

/* TAGS */
.restaurant-tag-container {
    margin-top: 15px;
    padding-left: 0px;
    margin-bottom: 8px;

}
.restaurant-tags {
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    background-color: $yellow;
    color: $white;
    display: inline-block;
    text-decoration: none;
    margin: 4px;
}

/* REVIEW BUTTON */
.restaurant-review {
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-align: center; /* TODO: Text isnt aligning center */
    color: $white;
}

/* 2. Dashboard = HOURS / RATING / DISTANCE */
.restaurant-dashboard-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.restaurant-dashboard-left {
    align-content: left;
    text-align: start;
    margin-left: 0.5rem;
}
.restaurant-dashboard-title {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: $text-color;
}
.restaurant-dashboard-title-address {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  color: $text-color;
  margin-bottom: 0px;
}
.restaurant-dashboard-content {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    color: $text-color;
}
.restaurant-dashboard-content-open {
    color: $green;
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
}
.restaurant-dashboard-content-closed {
    color: $red;
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
}

.restaurant-description {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    color: $text-color;
    font-weight: 400;
    font-size: 1.0em;
}

/* MAP */
.restaurant-map {
    border-radius: 10px;
    width: 98%;
}

/* Buttons below the map */
.restaurant-button-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
}
.restaurant-button {
    border-radius: 10px;
    background: #e7e7e7d7;
    align-items: center;
    padding: 27%;
}

.restaurant-button-icon {
    width: 2.1rem;
    height: 2.1rem;
    padding: 0.0rem;
}

.link-buttons {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  width: 47% !important;
}

/* HOURS */
.restaurant-hours {
    padding: 0;
    background: #e7e7e7d7;
    border-radius: 10px;
}
.restaurant-hours-button {
    background-color: #e7e7e7d7;
    border-radius: 10px;
}
.restaurant-hours-today {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: $text-color;
}

/* REVIEWS */
.restaurant-review-container {
    overflow: auto;

}
.restaurant-review-title {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    color: $text-color;
    padding-bottom: 0.8rem;
}
.restaurant-review-text {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    color: $text-color;
}
.restaurant-review-name {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8em;
    color: $text-color;
}
.restaurant-review-value {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.6em;
    color: $text-color;
}
.restaurant-review-card {
    border-radius: 10px;
    background-color: $shadow;
    display: inline-block;
    width: 23rem;
}
.restaurant-review-star {
    width: 1rem;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}


.review-form {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    color: $text-color;
}
