

.modalfordish {
  background-color: $pop-background;
  border-radius: 20px;
  border-style: none;
  color: $text-color;
  box-shadow: $shadow;
  border: none;
  min-width: 800px;
}
.modal-backdrop
{
    opacity:0.15 !important;
}

.modal-footer {
  border: none !important;
}

.modal-header {
  border: none !important;
}

.modal-title {
  margin: 5px;

  p {
    margin-left: 25px;
  }
}
