/* 1. HEAD, TAGS REVIEW, BUTTON */
.restaurant-modal {
    border-radius: 6%;
    background: $pop-background;
}

/* HEAD*/
.restaurant-headline {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    color: $text-color;
}

/* TAGS */
.restaurant-tag-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}
.restaurant-tags {
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.9em;
    background-color: $yellow;
    color: $white;
}

/* REVIEW BUTTON */
.restaurant-review {
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    text-align: center; /* TODO: Text isnt aligning center */
    color: $white;
}

/* 2. Dashboard = HOURS / RATING / DISTANCE */
.restaurant-dashboard-container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.restaurant-dashboard-title {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: $text-color;
}
.restaurant-dashboard-content {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    color: $text-color;
}
.restaurant-dashboard-content-open {
    color: $green;
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
}
.restaurant-dashboard-content-closed {
    color: $red;
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
}

/* MAP */
.restaurant-map-container {
    border-radius: 30%;
}
.restaurant-map img {
    border-radius: 30%;
}

/* Buttons below the map */
.restaurant-button-container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}
.restaurant-button {
    border-radius: 7px;
    background: $light-gray;
    align-items: center;
}
.restaurant-button-icon  {
    width: 20px;
}

/* HOURS */
.restaurant-hours {
    background-color: $shadow;
}

/* REVIEWS */
.restaurant-review-container {

}
.restaurant-review-card {
    border-radius: 15%;
    background-color: $shadow;
}
.restaurant-review-picture {
    width: 50px;
    border-radius: 50%;
}
.restaurant-review-star {
    width: 40px;
}
